<link rel="stylesheet" href="assets/css/navbar.css">

<!-- SIDEBAR -->
<div class="sidebar">
    <div class="logo-area">
        <img src="assets/img/logo.png" class="logo-img">
        <div class="logo-text">
            <span class="c02y">C02Y</span><br>
            <span class="apparel">APPAREL</span>
        </div>
    </div>

    <a href="dashboard.html" class="menu" id="menu-dashboard">
        <img src="assets/img/ic-dashboard.png" class="icon-menu"> Dashboard
    </a>

    <a href="pesanan.html" class="menu" id="menu-pesanan">
        <img src="assets/img/ic-cart.png" class="icon-menu"> Data Pesanan
    </a>

    <a href="transaksi.html" class="menu" id="menu-transaksi">
        <img src="assets/img/ic-user.png" class="icon-menu"> Transaksi
    </a>

    <a href="keuangan.html" class="menu" id="menu-keuangan">
        <img src="assets/img/ic-report.png" class="icon-menu"> Laporan Keuangan
    </a>

    <a href="pengaturan.html" class="menu" id="menu-pengaturan">
        <img src="assets/img/ic-setting.png" class="icon-menu"> Pengaturan
    </a>

    <a class="menu logout" id="btnLogout">
        <img src="assets/img/logout.png" class="icon-menu"> Logout
    </a>
</div>

<!-- TOPBAR -->
<div class="topbar">
    <h2 class="page-title" id="pageTitle"></h2>


    <img class="profile-img" id="profileImg" src="assets/img/default.png">
    <div class="profile-name" id="profileName">Loading...</div>
    <div class="profile-role">Admin</div>
</div>
