/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* FULL SCREEN WITHOUT SCROLL */
html, body {
    height: 100%;
    overflow: hidden;
    background: white;
    font-family: Poppins, sans-serif;
}

/* LAYOUT */
.container {
    display: flex;
    width: 100%;
    height: 100vh; /* full screen */
}

/* LEFT IMAGE SECTION */
.left {
    width: 40%;
    height: 100vh;
}

.left img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* RIGHT FORM SECTION */
.right {
    width: 60%;
    padding: 0 120px;
    display: flex;
    flex-direction: column;
    justify-content: center; /* center vertically */
}

h1 {
    font-size: 35px;
    font-weight: 600;
    margin-bottom: 40px;
}

/* INPUT FORM */
label {
    display: block;
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 8px;
}

input {
    width: 100%;
    height: 58px;
    border: 1px solid #33528A;
    border-radius: 5px;
    padding: 0 15px;
    font-size: 18px;
    margin-bottom: 20px;
}

/* BUTTON */
.btn-login {
    width: 60%;
    height: 58px;
    margin-left: 20%;
    background: #EEFF66;
    border: 1px solid #33528A;
    border-radius: 10px;
    font-size: 20px;
    font-weight: 600;
    cursor: pointer;
    letter-spacing: 2px;
    transition: 0.3s;
}

.btn-login:hover {
    filter: brightness(0.95);
}

/* COPYRIGHT TEXT */
.copyright {
    width: 100%;
    text-align: center;
    padding: 20px 0;
    color: rgba(0, 0, 0, 0.50);
    font-size: 18px;
    font-family: Poppins, sans-serif;
    font-weight: 400;
    line-height: 20px;
    background: #fff;
    margin-top: 30px;
}