/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #F5F5F5;
    font-family: Poppins, sans-serif;
}

/* SIDEBAR */
.sidebar {
    width: 260px;
    height: 705px;
    background: white;
    position: fixed;
    left: 0;
    top: 0;
    border-radius: 10px;
    padding-top: 20px;
    margin-top: 10px;
    margin-left: 10px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);
}

.logo-area {
    display: flex;
    align-items: center;
    gap: 15px;
    padding-left: 25px;
    margin-bottom: 40px;
}

.logo-box {
    width: 51px;
    height: 60px;
    background: black;
    border: 1px solid white;
}

.c02y {
    font-family: "Reddit Sans";
    font-style: italic;
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 1px;
}

.apparel {
    font-family: "Reddit Sans";
    font-style: italic;
    font-size: 15px;
    font-weight: 600;
    letter-spacing: 0.75px;
}

/* MENU ITEM */
.menu {
    padding: 14px 30px;
    font-size: 18px;
    letter-spacing: 1px;
    text-decoration: none;
    color: rgba(0,0,0,0.8);
    transition: 0.3s;
    margin-top: 5px;
}

.menu:hover {
    background: #d9f20c85;
    border-radius: 10px;
}

.menu.active {
    background: #D9F20C;
    border-radius: 10px;
    font-weight: 500;
    color: black;
}

.menu.logout {
    width: 100%;
    position: absolute;
    margin-top: 150px;
}


/* TOPBAR */
.topbar {
    position: fixed;
    left: 285px;
    top: 0;
    width: 1225px;
    height: 74px;
    background: white;
    border-radius: 10px;
    display: flex;
    align-items: center;
    padding: 0 20px;
    margin-top: 10px;
    gap: 15px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.05);
    z-index: 100;
}

.page-title {
    font-size: 24px;
    font-weight: 400;
    letter-spacing: 1.2px;
    flex: 1;
}

.profile-img {
    width: 52px;
    height: 50px;
    border-radius: 9999px;
    border: 2px solid #D9F20C;
}

.profile-name {
    font-size: 15px;
    font-weight: 600;
}

.profile-role {
    font-size: 14px;
    color: rgba(0,0,0,0.7);
}

.notif-icon {
    width: 24px;
    height: 24px;
    background: #878787;
    border-radius: 4px;
    position: relative;
}

.notif-dot {
    width: 9px;
    height: 9px;
    background: #E23744;
    border-radius: 50%;
    position: absolute;
    top: -2px;
    right: -2px;
}

.icon-menu {
    width: 24px;
    margin-right: 15px;
    vertical-align: middle;
}

.menu {
    display: flex;
    align-items: center;
}
